<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @tournament.place %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
